package home

templ Hello(name string) {
	<div>Hello, { name }</div>
	<button hx-post="/generate"
    hx-trigger="click"
    hx-target="#generated-text"
    hx-swap="innerHTML"
>
    Generate!
</button>

	<p id="generated-text"></p>
	<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

}